@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');
* {
	margin: auto;
}
	/* initial colors: * --fg: #141c21; --bg: #93a1a1; */

/* global variables */
:root {
	--black-sphere: radial-gradient(
	circle at 65% 15%,
	#5c5e61 1px,
	#5c5e61 3%,
	rgb(0, 0, 0) 60%,
	#37383a 100%
	);
	--white-sphere: radial-gradient(
	circle at 65% 15%,
	#fff 1px,
	#eeeeee 3%,
	#a5a4a4 60%,
	#c5c5c5 100%
	);
 --bg: #141c21;
 --fg: #93a1a1; 
}


body {
	background-color: var(--bg) ;
	color: var(--fg);
}
.container {
	font-family:asap;
	display: grid;
	height: 100vh;

	grid-template-columns: 0.8fr 650px 0.8fr; 
	grid-template-rows: 0.7fr 3fr 0.2fr; 
	grid-template-areas:
	'nav nav nav'
	'pool board msgs'
	'footer footer footer';
	grid-gap: 3rem;

}
.nav {
	grid-area: nav;
	display:inline-flex;
	gap:30px;
	margin-top:20px;
}



#title {
	font-size:53px;
}
#title a {
	color: var(--fg);
}


#pool {
	display: grid;
	height:630px;
	width:200px;
	background-color: inherit;
	grid-area: pool;
	grid-template-rows: 90px repeat(10, 1fr);
	text-align: center;
	margin-right: 20px;
}

#pool h1 {
	display: flex;
	justify-content:center;
	align-items: center;
	width: 100%;
	height: 100%;
	border-bottom: 1px solid var(--fg);
}

#pool .game-link {
	display:flex;
	justify-content:center;
	align-items: center;
	height: 100%;
	width: 100%;
}
#pool .game-link:hover {
	color:var(--bg);
	background-color: var(--fg);
}
.board {

	display:grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(7, 1fr);
	grid-gap:0;
	background-color: var(--bg);
	grid-area: board;
}


#msgBoard {
	display: grid;
	height:630px;
	width:100%;
	background-color: inherit;
	grid-area:msgs;
	grid-template-rows: 150px 150px repeat(3, 1fr);
	text-align: center;
	line-height: 150%;
	margin-left:10px;
}

#create, #join {
	display:grid;
}
.btn {
	color:var(--bg);
	background-color: var(--fg);
	border-radius: 2px;
	border: 1px solid var(--fg);
	text-align:center;
	cursor:pointer;
}
input {
	background-color: var(--fg);
	text-align:center;
	border: 2px solid var(--bg);
}
#btnCreate, #btnJoin {
	width: 200px;
	height: 45px;
	font-size: 25px;
}

.btn:hover {
	color:var(--fg);
	background-color:var(--bg) ;
}

#userNameField, #txtGameID {
	width: 170px;
	height: 30px;
	font-size: 15px;
}

::placeholder{
	color:var(--bg);
}


.cell {
	background: #747979;
	width: 83.4333px;
	height: 83.4333px;
	border-radius: 0%; 
	border: 1px solid var(--bg);
}
.legal-square { 
	width:inherit;
	height:inherit;
	border-radius: 0%; 
	background: #b3b3b3 ;
}

.w { width:98%; height:98%; border-radius: 50%; background: var(--white-sphere) }
.b { width:98%; height:98%; border-radius: 50%; background: var(--black-sphere) }


.clicked-p { 
	width:inherit;
	height:inherit;
	border-radius: 50%; 
}

footer {
	bottom:0; 
	padding-top: 10px;
	width:100%;
	grid-area:footer;
	text-align:center;
	
}

.foot span {
	display: inline-block;  /* because transforms don't apply to inline elements by default*/
	transition: 0.3s;
	color: var(--fg);
}
.foot a {
	color: var(--fg);
	text-decoration: none;
}

.foot:hover .transR { transform: translate(120%); }
.foot:hover .transL { transform: translateX(-120%); }


@media only screen and (max-width: 1000px) {
	.container {
		grid-template-columns: 650px auto;
		grid-template-rows: 0.8fr 650px  1fr 0.2fr;
		grid-template-areas:
		'nav nav'
		'board msgs'
		'pool pool'
		'footer footer';
	}

}
@media only screen and (max-width: 750px) {
	.container {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 0.8fr 650px 1fr 1fr 0.2fr;
		grid-template-areas:
		'nav nav'
		'board board'
		'pool msgs'
		'footer footer';
	}
}
