@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');
	/* initial colors: * --fg: #141c21; --bg: #93a1a1; */

/* global variables */
:root {
	--black-sphere: radial-gradient(
	circle at 65% 15%,
	#5c5e61 1px,
	#5c5e61 3%,
	rgb(0, 0, 0) 60%,
	#37383a 100%
	);
	--white-sphere: radial-gradient(
	circle at 65% 15%,
	#fff 1px,
	#eeeeee 3%,
	#a5a4a4 60%,
	#c5c5c5 100%
	);
 --bg: #141c21;
 --fg: #93a1a1; 
}


body {
	background-color: var(--bg) ;
	color: var(--fg);
}
.container {
	font-family:asap;
	display: grid;
	height: 100vh;

	grid-template-columns: 0.3fr 650px 500px; 
	grid-template-rows: 0.5fr 3fr 0.2fr; 
	grid-template-areas:
	'nav1 nav2 nav3'
	'pool board msgs'
	'footer footer footer';
	grid-gap: 3rem;
	align-items: center;
	justify-items: center;

}
.nav {
	grid-area: nav2;
	display:inline-flex;
	flex-wrap:wrap;
	height:100%;
	gap:30px;
	align-items: center;
	justify-items: center;
}

.nav3 {
	grid-area: nav3;
	background: #747979;
	display:flex;
	padding: 0 10%;
	gap: 80%;
	justify-content: center;
}





#title {
	font-size:68px;
	margin-bottom:0;
}
#title a {
	color: var(--fg);
}
#title-msg p {
	margin-bottom:0;
}


#pool {
	display: grid;
	height:630px;
	width:200px;
	background-color: inherit;
	grid-area: pool;
	grid-template-rows: 90px repeat(10, 1fr);
	align-items: center;
	justify-self: end;
	margin-right: 20px;
}

#pool h1 {
	display:flex;
	justify-content:center;
	align-items:center;
	height:100%;
	width:100%;
	border-bottom: 1px solid var(--fg);
}

#pool .game-link {
	display:flex;
	justify-content:center;
	align-items: center;
	height: 100%;
	width: 100%;
}
#pool .game-link:hover {
	color:var(--bg);
	background-color: var(--fg);
}
.board {
	display:grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(7, 1fr);
	height:630px;
	width:630px;
	background-color: var(--bg);
	grid-area: board;
}


#msgBoard {
	display: grid;
	height:630px;
	width:100%;
	background-color: inherit;
	grid-area:msgs;
	justify-self:start;
/*	grid-template-rows: 150px 150px repeat(3, 1fr); */
	grid-template-rows: 150px 150px repeat(3, 1fr); 
	line-height: 150%;
	margin-left:10px;
	align-items: center;
	justify-items: center;
	text-align:center;
}

#startGame {
	display:grid;
	width:100%;
	justify-self:start;
	grid-template-columns: 1fr 1fr;
	justify-items: center;
	align-items: center;
}

#create {
	display:grid;
}
#join {
}
.btn {
	color:var(--bg);
	background-color: var(--fg);
	border-radius: 2px;
	border: 1px solid var(--fg);
	text-align:center;
	cursor:pointer;
}
input {
	background-color: var(--fg);
	text-align:center;
	border: 2px solid var(--bg);
}
#btnCreate, #btnJoin {
	width: 200px;
	height: 45px;
	font-size: 25px;
}

.btn:hover {
	color:var(--fg);
	background-color:var(--bg) ;
}

#userNameField, #txtGameID {
	width: 170px;
	height: 30px;
	font-size: 15px;
	justify-self:center;
}

::placeholder{
	color:var(--bg);
}


.cell {
	display:flex;
	justify-content: center;
	align-items: center;
	background: #747979;
	width: 100%;
	height: 100%;
	border-radius: 0%; 
	border: 1.5px solid var(--bg);
	box-sizing:border-box;
}
.legal-square { 
	width:inherit;
	height:inherit;
	border-radius: 0%; 
	background: #b3b3b3 ;
}

.w { width:96%; height:96%; border-radius: 50%; background: var(--white-sphere); }
.b { width:96%; height:96%; border-radius: 50%; background: var(--black-sphere); }


.clicked-p { 
	width:98%;
	height:98%;
	border-radius: 50%; 
}

.foot {
	bottom:0; 
	width:100%;
	grid-area:footer;
	text-align:center;
	
}

.foot span {
	display: inline-block;  /* because transforms don't apply to inline elements by default*/
	transition: 0.3s;
	color: var(--fg);
}
.foot a {
	color: var(--fg);
	text-decoration: none;
}

.foot:hover .transR { transform: translate(120%); }
.foot:hover .transL { transform: translateX(-120%); }

@media only screen and (max-width:1400px){
	.container {
	grid-template-columns: 0.3fr 650px 300px; 
}
	#msgBoard {
		grid-template-rows: 200px repeat(3, 1fr)
	}
	#startGame {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
		justify-content:start;
	}
}
@media only screen and (max-width: 1000px) {

	.container {
		grid-template-columns: 650px 300px;
		grid-template-rows: 0.8fr 650px 1fr 0.2fr;
		grid-template-areas:
		'nav2 nav3'
		'board msgs'
		'pool pool'
		'footer footer';
	}

}
@media only screen and (max-width: 900px) {
	.container {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 0.8fr 0.3fr 650px 1fr 0.2fr;
		grid-template-areas:
		'nav2 nav2'
		'nav3 nav3'
		'board board'
		'pool msgs'
		'footer footer';
	}
	#pool {
		justify-self:center;
	}
}
@media only screen and (max-width: 635px) {
	.board {
		height:530px;
		width:530px;
	}
}

@media only screen and (max-width: 540px) {
	.container {
		grid-template-columns: 1fr;
		grid-template-rows: 0.8fr 0.2fr 650px 1fr 1fr 0.2fr;
		grid-template-areas:
		'nav2'
		'nav3'
		'board'
		'msgs'
		'pool'
		'footer';
	}
	.board {
		height:500px;
		width:500px;
	}
}
@media only screen and (max-width: 500px) {
	.board {
		height:430px;
		width:430px;
	}
@media only screen and (max-width: 460px) {
	.board {
		height:400px;
		width:400px;
	}
	#title {
		font-size:33px;
		margin-bottom:0;
	}
	#title-msg {
		font-size: 17px;	
	}
}
}
@media only screen and (max-width: 440px) {
	.board {
		height:380px;
		width:380px;
	}
}
@media only screen and (max-width: 375px) {
	.board {
		height:370px;
		width:370px;
	}
}


