@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');
* {
	margin: auto;
}
/* global variables */
:root {
	--black-sphere: radial-gradient(
	circle at 65% 15%,
	#5c5e61 1px,
	#5c5e61 3%,
	rgb(0, 0, 0) 60%,
	#37383a 100%
	);
	--white-sphere: radial-gradient(
	circle at 65% 15%,
	#fff 1px,
	#eeeeee 3%,
	#a5a4a4 60%,
	#c5c5c5 100%
	);
}

header {
	display: flex;
	font-family:asap;
	margin-top:0px;
	margin-bottom:0px;
	height:50px;
	background-color: #93a1a1; color: #141c21;
	/*background-image: linear-gradient(#93a1a1 80% , #141c21);*/
	width:100%;
}

#title {
	justify-content: center;
}

body {
	font-family:asap;
	background-color: #141c21 ;
	color: #93a1a1;
	display: flex;
	height: 100vh;
	flex-direction: column;
	align-items:center;
}



#main {
	display: grid;
	width: 100%;
/*	grid-template-columns: repeat(5, 1fr);*/
	grid-template-columns: auto 650px auto;
}
#pool {
	display: grid;
	height:100%;
	width:100%;
	border: 1px solid #93a1a1;
	background-color: inherit;
	grid-column:1;
	grid-template-rows: 90px repeat(10, 1fr);
	text-align: center;
}

#pool-title.p {
}

#pool .game-link {
	display:flex;
	justify-content:center;
	align-items: center;
	height: 100%;
	width: 100%;
}
#pool .game-link:hover {
	color:#141c21;
	background-color: #93a1a1;
}


#msgBoard {
	font-family:asap;
	display: grid;
	height:100%;
	background-color: inherit;
	grid-column:3;
	grid-template-rows: 150px 90px repeat(3, 1fr);
	text-align: center;
}

#create {
	display:grid;
}
#join {
	display: flex;
}
.btn {
	color:#141c21;
	background-color: #93a1a1;
	border-radius: 2px;
	border: 1px solid #93a1a1;
	text-align:center;
	cursor:pointer;
}
input {

	background-color: #93a1a1;
	text-align:center;
	border: 2px solid #141c21;
}
#btnCreate {
	width: 240px;
	height: 65px;
	font-size: 33px;
}

.btn:hover {
	color:#93a1a1;
	background-color:#141c21 ;
}

#userNameField {

	width: 170px;
	height: 30px;
	font-size: 15px;
}

#txtGameID {
	border: 10px ;
	width: 160px;
	height: 30px;
	font-size: 15px;
}
#btnJoin {
	height: 30px;
	font-size: 15px;
	width: 60px;
}
::placeholder{
	color:#141c21;
}

table {
	display: flex;
	position:relative;
	background-color: #93a1a1;
	grid-column:2;
}

td {
	background: radial-gradient(#93a1a1, #141c21);

	position:relative;
	width: 83.4333px;
	height: 83.4333px;
	border-radius: 50%; 
}

.w { width:inherit; height:inherit; border-radius: 50%; background: var(--white-sphere) }
.b { width:inherit; height:inherit; border-radius: 50%; background: var(--black-sphere) }


.clicked-p { 
	width:inherit;
	height:inherit;
	border-radius: 50%; 
}

.legal-square { 
	width:inherit;
	height:inherit;
	border-radius: 50%; 
	background: radial-gradient(gray, green);
}


/*nav { padding:inherit;}
.nav-left {float:left;}
.bar1, .bar2, .bar3 {width: 35px;height: 3px;background-color: black;margin: 4px 3px;}

.nav-right { float:right; margin-right:10px;}
.nav-right ul a {list-style-type:none;  color: inherit; margin-left:8px; font-size:140%; }
.menu-element {display: inline-block; }
*/


footer {
  color: #141c21;
  background-image: linear-gradient(#141c21, #93a1a1);
  position:fixed;
  bottom:0; 
  padding-top: 10px;
  width:100%;
	display: flex;
	justify-content: center;
}

.foot span {
  display: inline-block;  /* because transforms don't apply to inline elements by default*/
  transition: 0.3s;
  color: #141c21;
}
.foot a {
	color: #141c21;
	text-decoration: none;
}

.foot:hover .transR { transform: translate(120%); }
.foot:hover .transL { transform: translateX(-120%); }


