@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');
* {
	margin: auto;
}

body {
	font-family:asap;
	background-color: #141c21 ;
	color: #93a1a1;
	display: flex;
	height: 100vh;
	flex-direction: column;
	align-items:center;
}


header {
	font-family:asap;
	background-color: #93a1a1; color: #141c21;
	background-image: linear-gradient(#93a1a1 80% , #141c21);
	width:100%;
}

#main {
	display: grid;
	width: 100%;
	grid-template-columns: repeat(5, 1fr);
}
#msgBoard {
	font-family:asap;
	display: grid;
	height:100%;
	background-color: inherit;
	grid-template-rows: repeat(5, 1fr);
	text-align: center;
}
#btnCreate {

	background-color: #93a1a1;
	border-radius: 3px;
	border: 10px ;
	text-align:center;
	width: 200px;
	height: 65px;
	font-size: 33px;
	font-family:asap;
	color:#141c21;
	grid-row: 2; /* idk why this doesn't work, had to fill row 1 with empty <div> */
}
#txtGameID {
	background-color: #93a1a1;
	text-align:center;
	border-radius: 3px;
	border: 10px ;
	width: 200px;
	height: 30px;
	font-family:asap;
	font-size: 15px;
}
::placeholder{
	color:#141c21;
}
table {
	display: flex;
	margin-top:100px;
	position:relative;
	background-color: #93a1a1;
	grid-column:2/5;
}
td {
	background: radial-gradient(#93a1a1, #141c21);

	position:relative;
	width: 83.4333px;
	height: 83.4333px;
	border-radius: 50%; 
}

.w { width:inherit; height:inherit; border-radius: 50%; background-color: white; }
.b { width:inherit; height:inherit; border-radius: 50%; background-color: black; }


.clicked-p { 
	background: radial-gradient(gray, white);
	width:inherit;
	height:inherit;
	border-radius: 50%; 
}

.legal-square { 
	width:inherit;
	height:inherit;
	border-radius: 50%; 
	background: radial-gradient(gray, green);
}


/*
nav { padding:inherit;}
.nav-left {float:left;}
.bar1, .bar2, .bar3 {width: 35px;height: 3px;background-color: black;margin: 4px 3px;}

.nav-right { float:right; margin-right:10px;}
.nav-right ul a {list-style-type:none;  color: inherit; margin-left:8px; font-size:140%; }
.menu-element {display: inline-block; }
*/
